// Define variables for your color scheme

// For example:
$blue: #92CAD7;
$yellow: #FFE7B7;
$grey: #D9D9D9;
$light-grey: #F4F4F4;
$dark-grey: #343232;
$green: #6ba172;
$yellow: #eade86;
$red: #e17369;
$orange: #f1b152;
