// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "serif";
$headers-font: "Montserrat", "serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  font-weight: 100 !important; // Light weight
}

// Header styling
h1 {
  font-weight: 800 !important; // ExtraBold weight
}

h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}
