<div class="card-package">
  <div class="image" style="background-image: url('');"></div>
  <div class="price">€</div>
  <div class="package-name">Nom du package</div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan posuere imperdiet.
  </div>->
  <div class="action">
    <button>Voir le pack</button>
  </div>
</div>

