<footer class="mobile-footer">
  <div class="footer-icon">
    <img src="path_to_home_icon.svg" alt="Home" class="footer-picto">
  </div>
  <div class="footer-icon">
    <img src="path_to_heart_icon.svg" alt="Favorites" class="footer-picto">
  </div>
  <div class="footer-icon">
    <img src="path_to_logo_image.svg" alt="Logo" class="footer-logo">
  </div>
</footer>
