<footer class="mobile-footer">
  <div class="footer-icon">
  <%= link_to root_path do %>
    <i class="footer-picto fa-solid fa-house-chimney" style="color: #92cad7;"></i>
    <% end %>
  </div>

  <div class="footer-icon">
     <%= link_to dashboards_path do %>
    <i class="footer-picto fa-solid fa-heart heart-fav" style="color: #ffe7b8;"></i>
    <% end %>
  </div>

  <div class="footer-icon">
    <%= link_to questions_path do %>
  <img src="<%= asset_path("freepik-export-20241102225506weBX.png") %>" alt="Petit oiseau" class="footer-bird">
  <% end %>
  </div>
</footer>
