<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path("brina-blum-nWX4pKwzLoE-unsplash_lc6xfb") %>'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 100vh;">
    <h1 class="mt-6">“Your style, your nest, effortlessly.”</h1>
</div>
<div class="container">
    <a class="rounded-shadow-button justify-content-center" href="#">Je créé mon nid</a>
</div>
