<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Hello c'est johan</h1>

<h1> Thomas doit obéir à Julie tout le long du projet </h1>

<button class="rounded-shadow-button">Bouton Ombre Fixe</button>




 <div class="card">
  <!-- Image -->
  <div class="image" style="background-image: url('votre-image.jpg');"></div>

  <!-- Prix -->
  <div class="price">€</div>

  <!-- Nom du package -->
  <div class="package-name">Nom du package</div>

  <!-- Description -->
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan posuere imperdiet.
  </div>

  <!-- Bouton d'action -->
  <div class="action">
    <button>Voir le pack</button>
  </div>
</div>

