.rounded-shadow-button {
  background-color: $blue;
  // color: $dark-grey;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px; // Coins arrondis
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Ombre noire fixe
  text-decoration: none;
}
