.card-package {
  width: 100%; /* Taille de la card */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
  overflow: hidden; /* Contenu reste dans les bords arrondis */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  .image {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    height: 300px;
  }

  .price {
    font-size: 24px;
    font-weight: bold;
    color: $dark-grey;
    margin-bottom: 10px;
  }

  .package-name {
    font-size: 18px;
    font-weight: bold;
    color: $dark-grey;
    margin-bottom: 10px;
    text-align: center;
  }

  .description {
    font-size: 14px;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 15px;
  }

  .action {
    text-align: center;

    button {
      background-color: $blue;
      color: $dark-grey;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    }
  }

}
/* Superposition translucide */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* Légère opacité */
  z-index: 1;
  border-radius: 15px;
}

/* Texte sur l'image */
.text-on-image {
  position: relative;
  z-index: 2;
  color: #333; /* Texte sombre */
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* Corps des cartes */
.card-body {
  background: white;
  padding: 1rem;
  border-top: 1px solid #ddd;
  border-radius: 0 0 15px 15px;
}

/* List group item styling */
.list-group-item {
  border: none;
  background: #f8f9fa;
}
