/* Personnalisation des flèches */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* Supprime les icônes par défaut */
  font-size: 25px; /* Taille des flèches ajustée */
  color: black; /* Couleur noire pour rester visible */
  width: 24px; /* Largeur réduite */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajout des flèches minimalistes */
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  font-family: "Arial", sans-serif; /* Police propre pour les flèches */
  font-size: 25px; /* Taille des flèches */
  color: black; /* Flèches noires */
}

.carousel-control-prev-icon::after {
  content: '‹'; /* Flèche gauche minimaliste */
}

.carousel-control-next-icon::after {
  content: '›'; /* Flèche droite minimaliste */
}

/* Animation au survol */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.1); /* Agrandissement subtil */
  transition: transform 0.2s ease-in-out; /* Animation fluide */
}


/* Desktop (MacBook Air and larger screens) */
@media (min-width: 1025px) {
.carousel-inner {
  display: flex;
}

.carousel-item {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100%/3);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-control-prev {
  left: -50px; /* Ajustez selon vos besoins */
}

.carousel-control-next {
  right: -50px; /* Ajustez selon vos besoins */
}
/* Cacher les éléments clonés sur le dashboard */
/* Cacher les clones sur le dashboard */
#dashboard .carousel-item.carousel-clone {
  display: none;
}


}
