.comments-category {
  background-size: cover;
  background-color: white;
  background-position: center;
  // height: 180px;
  color: $dark-grey;
  font-size: 16px;
  border-radius: 10px;
  height: 150px;
  width: 200px;
  display: inline-block;
  margin-right: 14px;
  text-wrap: wrap;
  flex: 0 0 auto; /* Empêche les éléments de se redimensionner */
  min-width: 150px; /* Largeur minimale */ /* Hauteur */
  display: flex; /* Pour centrer le contenu */
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(65, 65, 65, 0.1) 0px 3px 6px, rgba(102, 102, 102, 0.2) 0px 3px 6px;
  // p {
  //   margin-top: revert;
  //   margin-bottom: revert;
}

.comments {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr
  display: flex; /* Active Flexbox */
  overflow-x: auto; /* Scroll horizontal activé */
  white-space: nowrap; /* Empêche les éléments de revenir à la ligne */
  gap: 10px; /* Espacement entre les éléments */
  padding: 10px;

}

// .container-comments {
//   // padding-bottom: 80px;
// }


.quote-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: $blue; /* Couleur primaire */
}
