.comments-category {
  background-size: cover;
  background-color: white;
  background-position: center;
  color: $dark-grey;
  font-size: 16px;
  border-radius: 10px;
  height: 150px;
  width: 200px;
  display: inline-block;
  margin-right: 14px;
  text-wrap: wrap;
  flex: 0 0 auto; /* Empêche les éléments de se redimensionner */
  min-width: 150px; /* Largeur minimale */ /* Hauteur */
  display: flex; /* Pour centrer le contenu */
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(65, 65, 65, 0.1) 0px 3px 6px, rgba(102, 102, 102, 0.2) 0px 3px 6px;
}

.comments {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr
  display: flex; /* Active Flexbox */
  overflow-x: auto; /* Scroll horizontal activé */
  white-space: nowrap; /* Empêche les éléments de revenir à la ligne */
  gap: 10px; /* Espacement entre les éléments */
  padding: 10px;

}


.quote-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: $blue; /* Couleur primaire */
}


@media (min-width: 1025px) {
  .comments-category {
    background-size: cover;
    background-color: white;
    background-position: center;
    color: $dark-grey;
    border-radius: 10px;
    height: 200px;
    width: 220px;
    display: inline-block;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center-align text */
    box-shadow: rgba(65, 65, 65, 0.1) 0px 3px 6px, rgba(102, 102, 102, 0.2) 0px 3px 6px;
  }

    .comments {
      display: flex; /* Activate Flexbox */
      align-items: center; /* Center vertically (if needed) */
      gap: 5px; /* Add spacing between items */
      padding: 10px; /* Optional padding for the container */
      overflow-x: auto; /* Scroll horizontal activé */
      white-space: nowrap;
      min-width: 100%;
    }

    .text-reviews {
      font-size: 18px; /* Update font size for desktop */
      display: flex; /* Ensure Flexbox for alignment */
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
      text-align: center; /* Ensure proper text alignment */
      width: 90%; /* Ensure text fills the container */
      height: 80%; /* Ensure text is vertically aligned within the container */
    }


}
