.mobile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Couleur de fond */
  padding: 10px 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce */
  border-top: 1px solid #ddd; /* Ligne de séparation */
  left: 0;
}

.footer-icon {
  flex: 1; /* Permet aux icônes de s'espacer également */
  text-align: center;
}

// .footer-picto {
//   font-size: 25px;
// }

.fa-house-chimney {
  font-size: 25px;
}

.heart-fav {
  font-size: 29px;
  text-align: center;
}

// .fa-solid {
//   width: 50px;
// }

.footer-logo {
  width: 20px; /* Taille du logo */
  // height: auto;
}

.footer-bird {
  width: 50px !important;
}
