.card-package {
  width: 100%; /* Taille de la card */
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
  overflow: hidden; /* Contenu reste dans les bords arrondis */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.card-package-3 {
  width: 100%; /* Taille de la card */
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
  overflow: hidden; /* Contenu reste dans les bords arrondis */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card-body {
  background: white;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.card-body-2 {
  background: white;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.card-body-3 {
  background: white;
  border-radius: 0 0 15px 15px;
  margin-top: 25px;
  padding-bottom: 20px;
}

/* Texte sur l'image */
.text-on-image {
  position: relative;
  z-index: 2;
  color: #333; /* Texte sombre */
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 60px;
}

.card-title-3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 60px;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 10px;
}

/* List group item styling */
.list-group-item {
  border: none;
  background: transparent;
}

.form-check-input {
  border: 2px solid #333; /* Change la couleur et l'épaisseur de la bordure */
  border-radius: 4px; /* Ajoute un léger arrondi pour un style moderne */
}

.form-check-label {
  color: #333; /* Change la couleur du texte à un gris foncé */
  font-weight: 300; /* Optionnel : rend le texte en gras pour plus de contraste */
}

.card-image{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-image: url('radoslav-bali-rtWu9kJ6TC0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card-image-2{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-image: url('cameron-smith-CTxNVSiWZBw-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.margin-card-2{
  margin-bottom: 18px;
}

.card-image-3{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-image: url('bailey-alexander-cYeCxtKpTTQ-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card-image::before, .card-image-2::before, .card-image-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Filtre blanc semi-transparent */
  z-index: 1; /* Superpose le filtre au-dessus de l'image */
  pointer-events: none; /* Assure que le filtre ne bloque pas les interactions */
}

/* Desktop (MacBook Air and larger screens) */
@media (min-width: 1025px) {
  .card-package {
    width: 100%; /* Taille de la card */
    height: 790px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
    overflow: hidden; /* Contenu reste dans les bords arrondis */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-image{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 530px;
    pointer-events: none;
    background-image: url('radoslav-bali-rtWu9kJ6TC0-unsplash.jpg');
    background-size: cover;
    background-position: center 70%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .card-image-2{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 525px;
    pointer-events: none;
    background-image: url('cameron-smith-CTxNVSiWZBw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .card-image-3{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 530px;
    pointer-events: none;
    background-image: url('bailey-alexander-cYeCxtKpTTQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  /* Texte sur l'image */
.text-on-image {
  position: relative;
  z-index: 2;
  color: #333; /* Texte sombre */
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 230px;
}

.card-title-3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 230px;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 10px;
}

.card-body {
  background: white;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.card-body-2 {
  background: white;
  padding: 0;
  border-radius: 0 0 15px 15px;
  margin-top: 15px;
}

.card-body-3 {
  background: white;
  border-radius: 0 0 15px 15px;
  margin-top: 25px;
  padding-bottom: 20px;
}

.card-package-3 {
  width: 100%; /* Taille de la card */
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre noire */
  overflow: hidden; /* Contenu reste dans les bords arrondis */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-check-label {
  margin-top: 70px;

}

  }
