.padding-title {
  padding-top: 35px;
}

.images-home-category {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Ajuste cette valeur selon la hauteur souhaitée */
  width : 170px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px; /* Optionnel pour des coins arrondis */
  margin: auto; /* Optionnel pour l'espacement */
  position: relative;
}

.images-trois-home{
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-top: 15px;
}


/* iPad (Tablets) */
@media (min-width: 768px) and (max-width: 1024px) {

  .images-home-category {
      height: 300px; /* Slightly larger images */
      width: 255px;
  }

  .comments-category p {
      font-size: 1rem; /* Adjust font size for readability */
  }
  .images-trois-home{
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 35px;
  }
}

/* Desktop (MacBook Air and larger screens) */
@media (min-width: 1025px) {
  .banner {
    height: 70vh; /* Shorter banners on desktop */
  }

  .images-home-category {
    height: 600px; /* Larger images for desktop */
    width: 550px;
  }

  .padding-title {
    padding-top: 60px;
  }

  .container-comments {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* Center the h1 specifically */
  .container-comments h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem; /* Space below the title */
  }

  /* Flex layout only for the comments */
  .comments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; /* Add space between comments */
  }

  .comments-category {
    width: 30%; /* Set the width of each comment box */
    text-align: center; /* Ensure content inside is centered */
  }

  .rectangle-yellow .carre {
    width: 100px; /* Adjust decorative elements */
    height: 100px;
  }


  .images-trois-home{
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 50px;
  }
}
