
.images-packages-category {
  background-size: cover;
  background-position: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.images-packages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

}

.images-packages {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  // padding-bottom: 0px;
}



// /* Grille d'images */
// .images-packages-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
//   gap: 15px;
// }

// .images-packages-category {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   border-radius: 8px;
//   transition: transform 0.3s, box-shadow 0.3s;
// }

// .images-packages-category:hover {
//   transform: scale(1.03);
//   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
// }

// /* Conteneur du titre */
// .package-title-container {
//   background: #f8f9fa; /* Couleur douce pour contraster avec les images */
//   padding: 10px;
//   border-radius: 8px;
//   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
//   margin-top: 15px;
// }

// .package-title {
//   font-size: 1.5em;
//   color: #333;
//   margin: 0;
//   font-family: 'Poppins', sans-serif;
//   text-transform: uppercase;
// }
