.chatbot {
  background: white;
  margin-top: 0;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 0;

  h1 {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 0;
    padding: 1rem;
  }

  #questions {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  .question {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .message {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .user-message .user-question {
    background: $blue;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  .ai-message .ai-answer {
    background: $light-grey;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  .ai-message,
  .user-message {
    display: flex;
    align-items: center;
  }

  .ai-message {
    align-self: flex-start;
  }

  .user-message {
    align-self: flex-end;
  }

  #new_question {
    border-top: 1px solid white;
    padding-top: 0%;
    bottom: 50;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;

    .form-group {
      margin-bottom: 0;
    }
  }
}
